{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load socialaccount %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">{% translate 'Home' %}</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'account_login' %}">{% translate 'Signin' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">{% translate 'ALREADY REGISTERED?' %}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">{% translate 'IAM NEW CUSTOMER' %}</h1>

                                        <span class="gl-text u-s-m-b-30">{% translate 'By creating an account with our store, you will be able to move through the checkout process faster, store shipping addresses, view and track your orders in your account and more' %}.</span>
                                        <div class="u-s-m-b-15">

                                            <a class="l-f-o__create-link btn--e-transparent-brand-b-2" href="{% url 'account_signup' %}">{% translate 'CREATE AN ACCOUNT' %}</a></div>
                                        <h1 class="gl-h1">{% translate 'SIGN IN' %}</h1>

                                        <span class="gl-text u-s-m-b-30">{% translate 'If you have an account with us, please log in' %}.</span>
                                         </form>   
                                          <form method="POST" class="l-f-o__form" action="{% url 'account_login' %}">
                                                {% csrf_token %}
                                               
                                            <div class="gl-s-api">
                                                <div class="u-s-m-b-15">

                                                    <a href="{%  provider_login_url 'facebook'  %}" class="gl-s-api__btn gl-s-api__btn--fb" type="button"><i class="fab fa-facebook-f"></i>

                                                        <span>{% translate 'Signin with Facebook' %} </span></a></div>
                                                <div class="u-s-m-b-15">

                                                    <a href="{%  provider_login_url 'google'  %}" class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><i class="fab fa-google"></i>

                                                        <span>{% translate 'Signin with Google' %}</span></a></div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="login-email">{% translate 'Username / E-MAIL' %} *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="login" id="login-email" placeholder="{% translate 'Username / Email' %}" required>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="login-password">{% translate 'PASSWORD' %} *</label>

                                                <input class="input-text input-text--primary-style" name="password" type="password" id="login-password" placeholder="{% translate 'Enter Password' %}" required></div>
                                                <div class="check-box">

                                                    <input type="checkbox" name="remember" id="remember-me">
                                                    <div class="check-box__state check-box__state--primary">

                                                        <label class="check-box__label" for="remember-me">{% translate 'Remember Me' %}</label></div>
                                                </div>
                                                <br>
                                                <div class="gl-inline ">
                                                <div class="u-s-m-b-30">

                                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">{% translate 'LOGIN' %}</button></div>
                                                <div class="u-s-m-b-30">

                                                    <a class="gl-link" href="{% url 'account_reset_password' %}">{% translate 'Lost Your Password?' %}</a></div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <!--====== Check Box ======-->
                                              
                                                <!--====== End - Check Box ======-->
                                            </div> 
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

{% endblock %}
        