{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<style type="text/css">
    #btn{
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:10px;
    }
    #btn:hover{
     color:#fff;
    background-color:#ff4500;
    }
    </style>
<div class='container'>
    <h1>{% trans "Change Password" %}</h1>
    <div class="row">
       
<div class="col-lg-12" style="margin-top:10px;">



<form method="POST" action="{% url 'account_change_password' %}"  class="contact-f">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">

            <div class="u-s-m-b-30">

                <label class="gl-label" for="login-email">CURRENT PASSWORD *</label>
        
                <input class="input-text input-text--primary-style" type="password" name="oldpassword" id="id_oldpassword" placeholder="Current Password" required>
            </div>
        
        </div>
        <div class="col-lg-12">
        <div class="u-s-m-b-30">
    
            <label class="gl-label" for="login-email">NEW PASSWORD *</label>
    
            <input class="input-text input-text--primary-style" type="password" name="password1" id="id_password1" placeholder="New Password" required>
        </div>
    </div>
        <div class="col-lg-12">
        <div class="u-s-m-b-30">
    
            <label class="gl-label" for="login-email">NEW PASSWORD(again) *</label>
    
            <input class="input-text input-text--primary-style" type="password" name="password2" id="id_password2" placeholder="New Password (again)" required>
        </div>
        <button class="btn btn--e-transparent-brand-b-2" id ="btn" name="action" type="submit">{% trans "Change Password" %}</button>
  
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>
    
    
    </div>

    </div>
 

</form>

        </div>
    </div>

</div>
  
{% endblock %}

