{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'account_signup' %}">Signup</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row row--center">
                            <div class="col-lg-6 col-md-8 u-s-m-b-30">
                                <div class="l-f-o">
                                    <div class="l-f-o__pad-box">
                                        <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                                        <form  id="signup_form" method="post" action="{% url 'account_signup' %}" class="l-f-o__form signup">
                                            {% csrf_token %}
                                           {% for i in form.errors %}
                                                {{i}}
                                           {% endfor %}
                                                <div class="gl-s-api">
                                                <div class="u-s-m-b-15">

                                                    <a href="{%  provider_login_url 'facebook'  %}" class="gl-s-api__btn gl-s-api__btn--fb" type="button"><i class="fab fa-facebook-f"></i>

                                                        <span>Signup with Facebook</span></a></div>
                                                <div class="u-s-m-b-30">

                                                    <a  href="{%  provider_login_url 'google'  %}" class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><i class="fab fa-google"></i>

                                                        <span>Signup with Google</span></a></div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-fname">FIRST NAME *</label>

                                                <input class="input-text input-text--primary-style" name="username" type="text" id="reg-fname" placeholder="First Name" required></div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-lname">LAST NAME *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="last_name" id="reg-lname" placeholder="Last Name" required>
                                            </div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <!--====== Date of Birth Select-Box ======-->

                                                    <span class="gl-label">BIRTHDAY</span>
                                                    <div class="gl-dob"><select name="month" class="select-box select-box--primary-style" required>
                                                        <option selected>Month</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                        </select><select name="day" class="select-box select-box--primary-style">
                                                            <option selected>Day</option>
                                                            {% with ''|center:31 as range %}
                                                           {% for _ in range %}
                                                        <option value="{{forloop.counter}}" >{{forloop.counter}}</option>
                                                        {% endfor %}
                                                          {%endwith%} 
                                                        </select><select name="year" class="select-box select-box--primary-style">
                                                            <option selected>Year</option>
                                                            {% with ''|center:10 as range %}
                                                            {% for _ in range %}
                                                            {% if forloop.counter0 < 10 %}
                                                             <option value="199{{forloop.counter0}}" >199{{forloop.counter0}}</option>
                                                           {% endif %}
                                                           {% endfor %}
                                                           {%endwith%} 

                                                           {% with ''|center:31 as range %}
                                                           {% for _ in range %}
                                                           {% if forloop.counter0 >= 10 %}
                                                            <option value="20{{forloop.counter0}}" >20{{forloop.counter0}}</option>
                                                          {% else %}
                                                          <option value="200{{forloop.counter0}}" >200{{forloop.counter0}}</option>

                                                            {% endif %}

                                                          {% endfor %}
                                                          {%endwith%} 

                                                        </select></div>
                                                    <!--====== End - Date of Birth Select-Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="gender">GENDER</label><select name="gender" class="select-box select-box--primary-style u-w-100" id="gender" required>
                                                        <option selected>Select</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select></div>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-lname">PHONE *</label>

                                                <input class="input-text input-text--primary-style" type="text" name="phone" id="reg-lname" placeholder="Phone Number" required>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-email">E-MAIL *</label>

                                                <input class="input-text input-text--primary-style" type="email" name="email" id="reg-email" placeholder="Enter E-mail" required>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="reg-password">PASSWORD *</label>

                                                <input class="input-text input-text--primary-style" type="password" name="password1" id="reg-password1" placeholder="Enter Password" required></div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="reg-password">PASSWORD *</label>
    
                                                    <input class="input-text input-text--primary-style" type="password" name="password2" id="reg-password2" placeholder="Password again" required></div>
                                                    {% if redirect_field_value %}
                                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                                    {% endif %}
                                                    <div class="u-s-m-b-15">

                                                <button class="btn btn--e-transparent-brand-b-2" type="submit">CREATE</button></div>

                                            <a class="gl-link" href="{% url 'home:home' %}">Return to Store</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

{% endblock %}


 