{% extends 'base.html' %}

{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'home:profile' slug=profile.user %}">Address Book</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, {{request.user.first_name|title}} {{request.user.last_name|title}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a  href="{% url 'home:profile' slug=profile.user %}">Manage My Account</a></li>
                                                <li>

                                                    <a href="{% url 'home:profile_account' slug=profile.user %}">My Profile</a></li>
                                                <li>

                                                    <a  href="{% url 'home:address' slug=profile.user %}">Address Book</a>
                                                </li>
                                                <li>

                                                    <a href="{% url 'home:order_track' slug=profile.user %}">Track Order</a></li>
                                                <!-- <li>

                                                    <a href="{%url 'home:order_track' slug=profile.user %}">My Orders</a></li> -->
                                                 <!-- <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li> -->
                                                <li> 

                                                    <a href="{% url 'home:canceled_order' slug=profile.user %}">My Returns & Cancellations</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{order}}</span>

                                                        <span class="dash__w-name">Orders Placed</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">{{canceled}}</span>

                                                        <span class="dash__w-name">Cancel Orders</span></div>
                                                </li>
                                                <!-- <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">Add new Address</h1>

                                            <span class="dash__text u-s-m-b-30">We need an address where we could deliver products.</span>
                                            <form class="dash-address-manipulation" method='POST'>
                                                {% csrf_token %}
                                                <!-- <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-fname">FIRST NAME *</label>

                                                        <input class="input-text input-text--primary-style" type="text" id="address-fname" placeholder="First Name"></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-lname">LAST NAME *</label>

                                                        <input class="input-text input-text--primary-style" type="text" id="address-lname" placeholder="Last Name"></div>
                                                </div> -->
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <!--====== Select Box ======-->

                                                        <label class="gl-label" for="address-country">COUNTRY *</label>
                                                        <select name="country"  class="select-box select-box--primary-style" id="address-country" required>
                                                            <option selected value="">Choose Country</option>
                                                            {% for i in countries %}
                                                            <option value="{{i.id}}">{{i.name|title}}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                    <div class="u-s-m-b-30">

                                                        <!--====== Select Box ======-->

                                                        <label class="gl-label" for="address-state">REGION *</label>
                                                        <select name='region' class="select-box select-box--primary-style" id="address-region" required>
                                                            <option selected value="">Choose Region</option>
                
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                    <div class="u-s-m-b-30">

                                                        <!--====== Select Box ======-->

                                                        <label class="gl-label" for="address-state">CITY *</label>
                                                        <select name='city' class="select-box select-box--primary-style" id="address-state" required>
                                                            <option selected value="">Choose State/Province</option>
                           
                                                        </select>
                                                        <!--====== End - Select Box ======-->
                                                    </div>
                                                </div>
                                                <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-phone">PHONE *</label>

                                                        <input class="input-text input-text--primary-style" name="phone" type="number" id="address-phone" required></div>
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-street">STREET ADDRESS *</label>

                                                        <input class="input-text input-text--primary-style" name="street" type="text" id="address-street" placeholder="House Name and Street" required></div>
                                                </div>
                                            
                                                <div class="gl-inline">
                                                    <!-- <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-city">TOWN/CITY *</label>

                                                        <input name="city" class="input-text input-text--primary-style" type="text" id="address-city" required></div> -->
                                                    <div class="u-s-m-b-30">

                                                        <label class="gl-label" for="address-street">ZIP/POSTAL CODE *</label>

                                                        <input name="zip" class="input-text input-text--primary-style" type="number" id="address-postal" placeholder="Zip/Postal Code" required></div>
                                                </div>

                                                <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">       
        $("#address-country").change(function () {
            const countryId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "home:address_add" slug=profile.user %}',
                data: {
                    'country': countryId,       // add the country id to the POST parameters
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {   // `data` is from `get_topics_ajax` view function
                   
                    let html_data2="<option value=''>Choose Region</option>";
                    let html_data1="<option value=''>Choose State/Province</option>";
                    data.forEach(function (data) {
                        html_data2 += `
                        <option value='${data.id}'>${data.name}</option>
                        `
                    });
                    $("#address-region").html(html_data2);
                    $("#address-state").html(html_data1);

                }
            });
        });


$("#address-region").change(function () {
            const regionId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "home:address_add" slug=profile.user %}',
                data: {
                    'region': regionId,       // add the country id to the POST parameters
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {   // `data` is from `get_topics_ajax` view function
                   
                    let html_data2="<option value=''>Choose State/Province</option>";
                    
                    data.forEach(function (data) {
                        html_data2 += `
                        <option value='${data.id}'>${data.name}</option>
                        `
                    });
                    $("#address-state").html(html_data2);
                  
                }
            });
        });
        
            </script>
{% endblock %}