{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
    <title>{% translate 'Ludus - Electronics, Apparel, Computers, Books, DVDs & more' %}</title>

    <!--====== Google Font ======-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous"> -->
  
    <!-- CSS only -->

    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="{% static 'css/utility.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <!--START GOOGLE ADS -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7011276525548831"
    crossorigin="anonymous"></script>
       <!--END GOOGLE ADS -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLR5JKLR8V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLR5JKLR8V');
</script>
    <script type="text/javascript">
        function getCookie(name) {
         var cookieValue = null;
         if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                 var cookie = cookies[i].trim();
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) === (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
       }
       
       function uuidv4() {
         return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
           var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
           return v.toString(16);
         });
       }
       
       let device = getCookie('device')
       if (device == null || device == undefined){
         device = uuidv4()
       }
       document.cookie ='device=' + device + ";domain=;path=/"
       </script>  
    <style type="text/css">

        #dismis{
            background-color:#fff;
            color:#ff4500;
            margin-top: 5px;
        } 
        #dismis:hover{
            background-color:#ff4500;
            color:#fff;
        }
    </style>

</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="{% static 'images/preloader.png' %}" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <header class="header--style-1">

            <!--====== Nav 1 ======-->
            <nav class="primary-nav primary-nav-wrapper--border">
                <div class="container">

                    <!--====== Primary Nav ======-->
                    <div class="primary-nav">

                        <!--====== Main Logo ======-->

                        <a class="main-logo" href="{% url 'home:home' %}">

                            <img src="{% static 'images/logo/logo-1.png' %}" alt=""></a>
                        <!--====== End - Main Logo ======-->


                        <!--====== Search Form ======-->
                        <form class="main-form"  action="{% url 'home:search' %}">

                            <label for="main-search"></label>
                            <!-- <select class=""></select> -->
                            <input  class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search" name="qs" placeholder="{% translate 'Search' %}">

                            <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                        
                        </form>
                        <!--====== End - Search Form ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation">

                            <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="{% translate 'Account' %}">

                                        <a><i class="far fa-user-circle"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            {% if request.user.is_authenticated %}  
                                            <li> 
                                                <a href="{% url 'home:profile' slug=profile.user %}"><i class="fas fa-user-circle u-s-m-r-6"></i>

                                                    <span>{% translate 'Account' %}</span></a></li>
                                            <li>
                                                {% else %}
                                                <li> 
                                                    <a href="{% url 'account_login' %}"><i class="fas fa-user-circle u-s-m-r-6"></i>
    
                                                        <span>{% translate 'Account' %}</span></a></li>
                                                        {% endif %}
                                                        {% if request.user.is_authenticated %}
                                                        <li>

                                                            <a href="{% url 'account_logout' %}"><i class="fas fa-lock-open u-s-m-r-6"></i>
            
                                                                <span>{% translate 'Signout' %}</span></a></li>

                                                        {% else %}
                                                        <li>
                                           
                                                            <a href="{%  url 'account_signup' %}"><i class="fas fa-user-plus u-s-m-r-6"></i>
            
                                                                <span>{% translate 'Signup' %}</span></a></li>
                                                        <li>
            
                                                            <a href="{%  url 'account_login' %}"><i class="fas fa-lock u-s-m-r-6"></i>
            
                                                                <span>{% translate 'Signin' %}</span></a></li>
                                                        {% endif %}
                                                      
                                       
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Settings">

                                        <a><i class="fas fa-user-cog"></i></a>

                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <ul style="width:120px">
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>{% translate 'Language' %}<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                                <!--====== Dropdown ======-->

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:120px">
                                                    {% get_current_language as LANGUAGE_CODE %}
                                                    {% get_available_languages as LANGUAGES %}
                                                    {% get_language_info_list for LANGUAGES as languages %}
                                                    {% for language in languages %}
                                                    <li>  

                                                        <a href="/{{language.code}}" class="u-c-brand">{{ language.name_local }} ({{ language.code }})</a>
                                                    </li>
                                                {% endfor %}
                                                   
                                                    
                                                 
                                                </ul>
                                                <!--====== End - Dropdown ======-->
                                            </li>
                                            <li class="has-dropdown has-dropdown--ul-right-100">

                                                <a>{% translate 'Currency' %}<i class="fas fa-angle-down u-s-m-l-6"></i></a>

                                              

                                                <span class="js-menu-toggle"></span>
                                                <ul style="width:225px">
                                                    <li>

                                                        <a class="u-c-brand">{% translate '$ - US DOLLAR' %}</a></li>
                                                    <li>

                                                        <a>{% translate '£ - BRITISH POUND STERLING' %}</a></li>
                                                    <li>

                                                        <a>{% translate '€ - EURO' %}</a></li>
                                                </ul>
                                               
                                            </li>
                                        </ul>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                    <li data-tooltip="tooltip" data-placement="left" title="{% translate 'Contact' %}">

                                        <a href="tel:+201064675906"><i class="fas fa-phone-volume"></i></a></li>
                                    <li data-tooltip="tooltip" data-placement="left" title="{% translate 'Mail' %}">

                                        <a href="mailto:abdallah.nasir@ymail.com"><i class="far fa-envelope"></i></a></li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Primary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 1 ======-->


            <!--====== Nav 2 ======-->
            <nav class="secondary-nav-wrapper">
                <div class="container">

                    <!--====== Secondary Nav ======-->
                    <div class="secondary-nav">

                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation1">

                            <button class="btn btn--icon toggle-mega-text toggle-button" type="button">M</button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list">
                                    <li class="has-dropdown">

                                        <span class="mega-text">M</span>

                                        <!--====== Mega Menu ======-->

                                        <span class="js-menu-toggle"></span>
    <div class="mega-menu">

                                            <div class="mega-menu-wrap">
                                                <div class="mega-menu-list">

                                                    <ul>
                                                        {% for i in all_categories %}
                                                       

                                                       
                                                        <li class="js-{% if forloop.counter == 1 %}active{% endif %}">

                                                            <a href="{% url 'home:category_filter' slug=i.name %}"><i class="fas fa-tv u-s-m-r-6"></i>

                                                                <span>{{i.name.upper}}</span></a>

                                                            <span class="js-menu-toggle js-toggle-mark"></span>
                                                        </li>
                                                       {% endfor %}
                                                    </ul>
                                                </div>

                                                <!--====== Electronics ======-->
                                                {% for i in all_categories %}
                                                <div class="mega-menu-content js-{% if forloop.counter == 1 %}active{% endif %}">
                                                   
                                                    <!--====== Mega Menu Row ======-->
                                                    <div class="row">
                                                        {% for b in i.same_category %}
                                                        <div class="col-lg-3">
                                                            <ul>
                                                                <li class="mega-list-title">

                                                                    <a href="shop-side-version-2.html">{{b.child.upper}}</a></li>
                                                                    {% for c in i.my_products|slice:"0:6" %}
                                                                <li>

                                                                    <a href="{% url 'home:this_product' id=c.id %}">{{c.name|title}}</a>
                                                                </li>
                                                                    {% endfor %}
                                                         
                                                            </ul>
                                                        </div>
                                                       {% endfor %}
                                                    </div>
                                                    <!--====== End - Mega Menu Row ======-->
                                                    <br>


                                                 
                                                </div>
                                                
                                                {% endfor %}
                                                <!--====== End - Electronics ======-->

                                                
                                            </div>
                                        </div>
                                        <!--====== End - Mega Menu ======-->
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation2">

                            <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog" type="button"></button>

                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                                    <li>

                                        <a href="{% url 'home:products' %}">{% translate 'NEW ARRIVALS' %}</a></li>
                                  
                               
                                    <li>

                                        <a href="{% url 'home:about' %}">{% translate 'ABOUT' %}</a></li>
                                    <li>

                                        <a href="{% url 'home:contact' %}">{% translate 'CONTACT' %}</a></li>
                                        <li>

                                            <a href="{% url 'home:faq' %}">{% translate 'FAQ' %}</a>
                                        </li>
                                        {% if request.user.is_superuser %}
                                           <li>

                                            <a href="{% url 'home:dashboard' %}">{% translate 'DASHBOARD' %}</a>
                                        </li>
                                        {% endif %}

                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->


                        <!--====== Dropdown Main plugin ======-->
                        <div class="menu-init" id="navigation3">

                            <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop" type="button"></button>
                                {% if cart %}
                            <span id="cart-len-2" class="total-item-round">{{cart.products.count}}</span>
                            {% else %}
                            <span id="cart-len-2" class="total-item-round">0</span>

                            {%  endif %}
                            <!--====== Menu ======-->
                            <div class="ah-lg-mode">

                                <span class="ah-close">✕ Close</span>

                                <!--====== List ======-->
                                <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                                    <li>

                                        <a href="{%  url 'home:home' %}"><i class="fas fa-home u-c-brand"></i></a></li>
                                    <li>

                                        <a class="mini-cart-shop-link" href="{%  url 'home:wishlist'  %}"><i class="far fa-heart"></i></a></li>
                                    <li class="has-dropdown">
                                        
                                        <a class="mini-cart-shop-link"><i class="fas fa-shopping-bag"></i>


                                               

                                               
                                                {% if cart %}
                                            <span id="cart-len-1" class="total-item-round">{{cart.order_product_length}}</span></a>
                                            {% else %}
                                            <span id="cart-len-1" class="total-item-round">0</span></a>
                                            {% endif %}
                                        <!--====== Dropdown ======-->

                                        <span class="js-menu-toggle"></span>
                                        <div class="mini-cart">

                                            <!--====== Mini Product Container ======-->
                                            <div  class="mini-product-container gl-scroll u-s-m-b-15">
                                         <div id='cart-items'>
                                         </div>
                                         
                                                {% for i in cart.products.all %}
                                                
                                               
                                                
                                                <!--====== Card for mini cart ======-->
                                                <div id="temp-cart-{{i.id}}" class="card-mini-product">
                                                    <div class="mini-product">
                                                        <div class="mini-product__image-wrapper">

                                                            <a class="mini-product__link" href="{% url 'home:this_product' id=i.products.id %}">

                                                                <img class="u-img-fluid" src="{{i.products.image.first.image}}" alt="{{i.products.name}}"></a></div>
                                                        <div class="mini-product__info-wrapper">

                                                            <span class="mini-product__category">

                                                                <a href="{% url 'home:category_filter' slug=i.products.category.name %}">{{i.products.category.name}}</a></span>

                                                            <span class="mini-product__name">

                                                                <a href="{% url 'home:this_product' id=i.products.id %}">{{i.products.name|title}}</a></span>

                                                            <span id="mini-quantity-{{i.id}}" class="mini-product__quantity">{{i.quantity}} x</span>

                                                            <span id="mini-price-{{i.id}}" class="mini-product__price">${{i.product_price_individual}}</span></div>
                                                    </div>
                                                    <input class="total-remove-cart-{{i.id}}" type="hidden" value="{{i.id}}">

                                                    <a id="total-product-remove" value="{{i.id}}"   data-index="{{i.id}}" class="mini-product__delete-link far fa-trash-alt" ></a>
                                                </div>
                                                <!--====== End - Card for mini cart ======-->
                                             
                                                {% endfor %}
                                               
                                            </div>
                                            <!--====== End - Mini Product Container ======-->


                                            <!--====== Mini Product Statistics ======-->
                                            <div class="mini-product-stat">
                                                <div class="mini-total">

                                                    <span class="subtotal-text">{% translate 'SUBTOTAL' %}</span>

                                                    <span id="cart-total" class="subtotal-value">${{cart.before_discount|floatformat:2}}</span></div>
                                                <div class="mini-action">
                                                        {% if request.user.is_authenticated %}
                                                    <a class="mini-link btn--e-brand-b-2" href="{% url 'home:order' id=cart.id %}">{% translate 'PROCEED TO CHECKOUT' %}</a>
                                                        {% else %}
                                                        <a class="mini-link btn--e-brand-b-2" href="{% url 'account_login'  %}">{% translate 'PROCEED TO CHECKOUT' %}</a>
                                                        {% endif %}

                                                    <a class="mini-link btn--e-transparent-secondary-b-2" href="{% url 'home:cart' %}">{% translate 'VIEW CART' %}</a></div>
                                            </div>
                                            <!--====== End - Mini Product Statistics ======-->
                                        </div>
                                        <!--====== End - Dropdown ======-->
                                    </li>
                                </ul>
                                <!--====== End - List ======-->
                            </div>
                            <!--====== End - Menu ======-->
                        </div>
                        <!--====== End - Dropdown Main plugin ======-->
                    </div>
                    <!--====== End - Secondary Nav ======-->
                </div>
            </nav>
            <!--====== End - Nav 2 ======-->
        </header>
        <!--====== End - Main Header ======-->
        
{% block content %}
{% endblock %}


 <!--====== Main Footer ======-->
 <footer>
    <div class="outer-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="outer-footer__content u-s-m-b-40">

                        <span class="outer-footer__content-title">{% translate 'Contact Us' %}</span>
                        <div class="outer-footer__text-wrap"><i class="fas fa-home"></i>

                            <span>{% translate 'Hurghada , Egypt' %}</span></div>
                        <div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>

                            <span>(+0) 1064675906</span></div>
                        <div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>

                            <span>abdallah.nasir@ymail.com</span></div>
                        <div class="outer-footer__social">
                            <ul>
                                <li>

                                    <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li>

                                    <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li>

                                    <a class="s-youtube--color-hover" href="#"><i class="fab fa-youtube"></i></a></li>
                                <li>

                                    <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                <li>

                                    <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">

                                <span class="outer-footer__content-title">{% translate 'Information' %}</span>
                                <div class="outer-footer__list-wrap">
                                    <ul>
                                        <li>

                                            <a href="{% url 'home:cart' %}">{% translate 'Cart' %}</a></li>
                                        
                                        <li>
                                            {% if request.user.is_authenticated %}
                                <a href=" {% url 'home:profile' slug=profile.user %}">{% translate 'Account' %}</a>
                                            {% else %}
                                            <a href=" {% url 'account_login'  %}">{% translate 'Account' %}</a>

                                            {% endif %}
                                        
                                        </li>
                                        <li>

                                            <a href="{% url 'home:products' %}">{% translate 'Manufacturer' %}</a></li>
                                        <li>

                                            <a href="{% url 'home:products' %}">{% translate 'Finance' %}</a></li>
                                        <li>

                                            <a href="{% url 'home:products' %}">{% translate 'Shop' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="outer-footer__content u-s-m-b-40">
                                <div class="outer-footer__list-wrap">

                                    <span class="outer-footer__content-title">{% translate 'Our Company' %}</span>
                                    <ul>
                                        <li>

                                            <a href="{% url 'home:about' %}">{% translate 'About us' %}</a></li>
                                        <li>

                                            <a href="{% url 'home:contact' %}">{% translate 'Contact Us' %}</a></li>
                                        <li>

                                            <a href="{% url 'home:contact' %}">{% translate 'Sitemap' %}</a></li>
                                       
                                        <li>

                                            <a href="{% url 'home:products' %}">{% translate 'Store' %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="outer-footer__content">

                        <span class="outer-footer__content-title">{% translate 'Join our Newsletter' %}</span>
                        <form class="newsletter">
                            <div class="u-s-m-b-15">
                                <div class="radio-box newsletter__radio">

                                    <input type="radio" id="male" name="gender">
                                    <div class="radio-box__state radio-box__state--primary">

                                        <label class="radio-box__label" for="male">{% translate 'Male' %}</label></div>
                                </div>
                                <div class="radio-box newsletter__radio">

                                    <input type="radio" id="female" name="gender">
                                    <div class="radio-box__state radio-box__state--primary">

                                        <label class="radio-box__label" for="female">{% translate 'Female' %}</label></div>
                                </div>
                            </div>
                            <div class="newsletter__group">

                                <label for="newsletter"></label>

                                <input class="input-text input-text--only-white" type="text" id="newsletter" placeholder="{% translate 'Enter your Email' %}">

                                <button class="btn btn--e-brand newsletter__btn" type="submit">{% translate 'SUBSCRIBE' %}</button></div>

                            <span class="newsletter__text">{% translate 'Subscribe to the mailing list to receive updates on promotions, new arrivals, discount and coupons.' %}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="lower-footer__content">
                        <div class="lower-footer__copyright">

                            <span>{% translate 'Copyright © 2021' %}</span>

                            <a href="mailto:abdallah.nasir@ymail.com">{% translate 'Abdallah Nasir' %}</a>

                            <span>{% translate 'All Right Reserved' %}</span></div>
                        <div class="lower-footer__payment">
                            <ul>
                                <li><i class="fab fa-cc-stripe"></i></li>
                                <li><i class="fab fa-cc-paypal"></i></li>
                                <li><i class="fab fa-cc-mastercard"></i></li>
                                <li><i class="fab fa-cc-visa"></i></li>
                                <li><i class="fab fa-cc-discover"></i></li>
                                <li><i class="fab fa-cc-amex"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--====== Modal Section ======-->







<!--====== End - Modal Section ======-->
</div>
<!--====== End - Main App ======-->


<!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLR5JKLR8V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLR5JKLR8V');
</script>
<script>
window.ga = function() {
    ga.q.push(arguments)
};
ga.q = [];
ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<!--====== Vendor Js ======-->
<script src="{% static 'js/vendor.js' %}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script src="{% static 'js/jquery.shopnav.js' %}"></script>

<!--====== App ======-->
<script src="{% static 'js/app.js' %}"></script>

<!--====== Vendor Css ======-->


<!--====== Noscript ======-->
<noscript>
<div class="app-setting">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="app-setting__wrap">
                    <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                    <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</noscript>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).on('click',"#total-product-remove",function(){
        var _vm=$(this);
        var _index=_vm.attr('data-index');
        var _productId=$(".total-remove-cart-"+_index).val();
        // Ajax
        $.ajax({
        
    
            url:"{% url 'home:cart_remove' %}",
            data:{
                'id':_productId,         
                
                },
            dataType:'json',
            beforeSend:function(){
                _vm.attr('disabled',true);
            },
            success:function(res){
                $("#temp-cart-"+_productId).remove();
                $("#my-temp-cart-"+_productId).remove();
               let html_data1 = `
               ${res.amounts}
                `
                 let html_data2 = `
               $ ${res.total}
                `
                $("#cart-len-1").html(html_data1);
                $("#cart-len-2").html(html_data1);
                $("#cart-total").html(html_data2);

                
        _vm.attr('disabled',false);
                        }
                        
                        });
                        // End
                    }); 
                    
</script>
</html>