{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<style type="text/css">
.badge--canceled{
    background-color:#ff4500 !important;
    color:#fff !important;
}
</style>

        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">{% translate 'Home' %}</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'home:canceled_order' slug=profile.user %}">{% translate 'My Returns & Cancellations' %}</a></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">{% translate 'Hello' %}, {{request.user.first_name|title}} {{request.user.last_name|title}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" href="{% url 'home:profile' slug=profile.user %}">{% translate 'Manage My Account' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:profile_account' slug=profile.user %}">{% translate 'My Profile' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:address' slug=profile.user %}">{% translate 'Address Book' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:order_track' slug=profile.user %}">{% translate 'Track Order' %}</a></li>
                                                <!-- <li>

                                                    <a href="{%url 'home:order_track' slug=profile.user %}">My Orders</a></li> -->
                                                 <!-- <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li> -->
                                                <li> 

                                                    <a href="{% url 'home:canceled_order' slug=profile.user %}">{% translate 'My Returns & Cancellations' %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{order}}</span>

                                                        <span class="dash__w-name">{% translate 'Orders Placed' %}</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">{{canceled}}</span>

                                                        <span class="dash__w-name">{% translate 'Cancel Orders' %}</span></div>
                                                </li>
                                                <!-- <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                   
                                    <div id="custom-id" class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2 ">
                                            <h1 class="dash__h1 u-s-m-b-14">{% translate 'My Returns & Cancellations' %}</h1>

                                            <span class="dash__text u-s-m-b-30">{% translate 'Here you can see all products that have been canceled' %}.</span>
                                            <!-- <form class="m-order u-s-m-b-30">
                                                <div class="m-order__select-wrapper">

                                                    <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select class="select-box select-box--primary-style" id="my-order-sort">
                                                        <option selected>Last 5 orders</option>
                                                        <option>Last 15 days</option>
                                                        <option>Last 30 days</option>
                                                        <option>Last 6 months</option>
                                                        <option>Orders placed in 2018</option>
                                                        <option>All Orders</option>
                                                    </select></div>
                                            </form> -->
                                            {% for i in my_order %}
                                            <div class="m-order__list">
                                               
                                                <div class="m-order__get">
                                                    <div class="manage-o__header u-s-m-b-30">
                                                        <div class="dash-l-r">
                                                            <div>
                                                                <div class="manage-o__text-2 u-c-secondary">{% translate 'Order' %} #{{i.track_number}}</div>
                                                                <div class="manage-o__text u-c-silver">{% translate 'Placed on' %} {{i.order_date}}</div>
                                                            </div>
                                                            <div>
                                                                <div class="dash__link dash__link--brand">

                                                                    <!-- <a href="{% url 'home:manage_order' slug=i.user %}">MANAGE</a></div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% for b in i.cart.products.all %}
                                                    <div class="manage-o__description">
                                                        <div class="description__container">

                                                            <div class="description__img-wrap">

                                                                <img class="u-img-fluid" src="{{b.products.image.first.image}}" alt=""></div>
                                                            <div class="description-title">{{b.products.name|title}}</div>
                                                        </div>
                                                        <div class="description__info-wrap">
                                                            <div>

                                                                <span class="manage-o__badge badge--{{i.statue}}">{{i.statue}}</span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">{% translate 'Quantity' %}:

                                                                    <span class="manage-o__text-2 u-c-secondary">{{b.quantity}}</span></span></div>
                                                            <div>

                                                                <span class="manage-o__text-2 u-c-silver">{% translate 'Total' %}:

                                                                    <span class="manage-o__text-2 u-c-secondary">${{b.discount}}</span></span></div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    {% endfor %}
                                                </div>
                                               
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


 {% endblock %}