{% extends 'base.html' %}




{% block content %}
<style type="text/css">
#quant{
    padding-top:0.7rem !important;
}
#button-id{
    cursor: pointer;
}
#button-id:hover{
    background-color: #ff4500;
    color:#fff;
}
</style>
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                     
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">Home</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'home:cart' %}">Cart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <div class="table-responsive">
                                    <table class="table-p">
                                        <tbody>
                                            {% for i in cart.products.all %}
                                            <!--====== Row ======-->
                                            <tr>
                                                <td>
                                                    <div class="table-p__box">
                                                        <div class="table-p__img-wrap">

                                                            <img class="u-img-fluid" src="{{i.products.image.first.image.url}}" alt="{{i.products.name}}"></div>
                                                        <div class="table-p__info">

                                                            <span class="table-p__name">

                                                                <a href="{% url 'home:this_product' id=i.products.id %}">{{i.products.name|title}}</a></span>

                                                            <span class="table-p__category">

                                                                <a href="{% url 'home:category_filter' slug=i.products.category.name %}">{{i.category.name|title}}</a></span>
                                                            <ul class="table-p__variant-list">
                                                                <!-- <li>

                                                                    <span>Size: {{i.size.name|title}}</span></li> -->
                                                                <li>

                                                                    <span>Color: {{i.color.name|title}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>

                                                    <span class="table-p__price">${{i.discount}}</span></td>
                                                <td>
                                                    <div id="cartList" class="table-p__input-counter-wrap">
                                                       
                                                               
                                                      
                                                        <!--====== Input Counter ======-->
                                                        <div class="input-counter">

                                                           <div id="remove-from-cart" data-index="{{i.id}}"  value="{{i.id}}"  ><span class="input-counter__minus fas fa-minus"></span></div> 
                                                           <span value="{{i.id}}"  id="quant" class="input-counter__text input-counter--text-primary-style quant">
                                                            <div class="cart-list-{{i.id}}">
                                                                {{i.quantity}}
                                                               
                                                            </div>  
                                                            
                                                            </span>

                                                            <!-- <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000"> -->
                                                            <input  type="hidden" class="product-id-{{i.id}}" value="{{i.id}}" />
                                                            <div  id="add-to-cart" data-index="{{i.id}}"  value="{{i.id}}"  ><span class="input-counter__plus fas fa-plus"></span></div>
                                                         </div>
                                                        <!--====== End - Input Counter ======-->
                                                    
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-p__del-wrap">

                                                        <a href="{% url 'home:cart_remove' id=i.id %}"  class="far fa-trash-alt table-p__delete-link "></div></a>
                                                </td>
                                            </tr>
                                            <!--====== End - Row ======-->

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="route-box">
                                    <div class="route-box__g1">

                                        <a class="route-box__link" href="{% url 'home:products' %}"><i class="fas fa-long-arrow-alt-left"></i>

                                            <span>CONTINUE SHOPPING</span></a></div>
                                    <div class="route-box__g2">

                                        <a class="route-box__link" href="{% url 'home:cart_clear' %}"><i class="fas fa-trash"></i>

                                            <span>CLEAR CART</span></a>

                                        <a class="route-box__link" href="{% url 'home:cart' %}"><i class="fas fa-sync"></i>

                                            <span>UPDATE CART</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
                                <form action="{% url 'home:shipping' id=cart.id %}" class="f-cart" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">ESTIMATE SHIPPING AND TAXES</h1>

                                                <span class="gl-text u-s-m-b-30">Enter your destination to get a shipping estimate.</span>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="shipping-country">COUNTRY *</label><select name="country" class="select-box select-box--primary-style" id="shipping-country" required>
                                                        <option  value="" selected>Choose Country</option>
                                                    {% for i in countries %}
                                                <option   value="{{i.id}}">{{i.name|title}}</option>

                                                    {% endfor %}
                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="shipping-state">Region *</label><select name="region" class="select-box select-box--primary-style" id="shipping-region"required>
                                                        <option selected value="">Choose Region</option>

                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="shipping-state">STATE/PROVINCE *</label><select name="city" class="select-box select-box--primary-style" id="shipping-state" required>
                                                        <option selected value="">Choose State/Province</option>

                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="shipping-zip">ZIP/POSTAL CODE *</label>

                                                    <input class="input-text input-text--primary-style" type="number" id="shipping-zip" placeholder="Zip/Postal Code" required></div>
                                                <div class="u-s-m-b-30">

                                                    <button type="submit" id="button-id" class="f-cart__ship-link btn--e-transparent-brand-b-2" >CALCULATE SHIPPING</button></div>

                                                <span class="gl-text">Note: There are some countries where free shipping is available otherwise our flat rate charges or country delivery charges will be apply.</span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-4 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <h1 class="gl-h1">NOTE</h1>

                                                <span class="gl-text u-s-m-b-30">Add Special Note About Your Product</span>
                                                <div>

                                                    <label for="f-cart-note"></label>
                                                    <textarea name="note" class="text-area text-area--primary-style" id="f-cart-note"></textarea></div>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-6 col-md-6 u-s-m-b-30">
                                            <div class="f-cart__pad-box">
                                                <div class="u-s-m-b-30">
                                                    <table class="f-cart__table">
                                                        <tbody>
                                                            <tr>
                                                                <td>SUBTOTAL</td>
                                                                <td>${{cart.before_discount}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>SHIPPING</td>
                                                                <td>${{cart.shipping.amount}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>TAX</td>
                                                                <td>$0.00</td>
                                                            </tr>
                                                          
                                                            <tr>
                                                                <td>GRAND TOTAL</td>
                                                            <td>${{cart.shipping_price}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                            
                                                    <a {% if cart.order_product_length == 0 %}  style="background-color:#fff; color:#fa4400;"  disabled {% endif %} class="btn btn--e-brand-b-2" href='{% url "home:order" id=cart.id %}' > PROCEED TO CHECKOUT</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->
        </div>
        <!--====== End - App Content ======-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript">       
        $("#shipping-country").change(function () {
            const countryId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "home:cart" %}',
                data: {
                    'country': countryId,       // add the country id to the POST parameters
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {   // `data` is from `get_topics_ajax` view function
                   
                    let html_data2="<option value=''>Choose Region</option>";
                    let html_data1="<option value=''>Choose State/Province</option>";
                    data.forEach(function (data) {
                        html_data2 += `
                        <option value='${data.id}'>${data.name}</option>
                        `
                    });
                    $("#shipping-region").html(html_data2);
                    $("#shipping-state").html(html_data1);

                }
            });
        });


$("#shipping-region").change(function () {
            const regionId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "home:cart" %}',
                data: {
                    'region': regionId,       // add the country id to the POST parameters
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {   // `data` is from `get_topics_ajax` view function
                   
                    let html_data2="<option value=''>Choose State/Province</option>";
                    
                    data.forEach(function (data) {
                        html_data2 += `
                        <option value='${data.id}'>${data.name}</option>
                        `
                    });
                    $("#shipping-state").html(html_data2);
                  
                }
            });
        });

     
$(document).on('click',"#add-to-cart",function(){
            var _vm=$(this);
            var _index=_vm.attr('data-index');
            var _productId=$(".product-id-"+_index).val();
            // Ajax
            $.ajax({
            

                url:"{% url 'home:cart_quantity_add' %}",
                data:{
                    'id':_productId,
                    
                    },
                dataType:'json',
                beforeSend:function(){
                    _vm.attr('disabled',true);
                },
                success:function(res){
                    $(".cart-list-"+res.id).text(res.quantity);
                    _vm.attr('disabled',false);
                }
            });
            // End
        });
                
$(document).on('click',"#remove-from-cart",function(){
            var _vm=$(this);
            var _index=_vm.attr('data-index');
            var _productId=$(".product-id-"+_index).val();
            // Ajax
            $.ajax({
            

                url:"{% url 'home:cart_quantity_remove' %}",
                data:{
                    'id':_productId,
                    
                    },
                dataType:'json',
                beforeSend:function(){
                    _vm.attr('disabled',true);
                },
                success:function(res){
                    $(".cart-list-"+res.id).text(res.quantity);
                    _vm.attr('disabled',false);
                }
            });
            // End
        });

 
            </script>
{% endblock %}


