{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">{% translate 'Home' %}</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'home:profile_account' slug=request.user %}">{% translate 'My Account' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">{% translate 'Hello' %}, {{request.user.first_name|title}} {{request.user.last_name|title}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" href="{% url 'home:profile' slug=profile.user %}">{% translate 'Manage My Account' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:profile_account' slug=profile.user %}">{% translate 'My Profile' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:address' slug=profile.user %}">{% translate 'Address Book' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:order_track' slug=profile.user %}">{% translate 'Track Order' %}</a></li>
                                                <!-- <li>

                                                    <a href="{%url 'home:order_track' slug=profile.user %}">My Orders</a></li> -->
                                                 <!-- <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li> -->
                                                <li> 

                                                    <a href="{% url 'home:canceled_order' slug=profile.user %}">{% translate 'My Returns & Cancellations' %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{order}}</span>

                                                        <span class="dash__w-name">{% translate 'Orders Placed' %}</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">{{canceled}}</span>

                                                        <span class="dash__w-name">{% translate 'Cancel Orders' %}</span></div>
                                                </li>
                                                <!-- <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">{% translate 'Edit Profile' %}</h1>

                                            <span class="dash__text u-s-m-b-30">{% translate "Looks like you haven't update your profile" %}</span>
                                            <div class="dash__link dash__link--secondary u-s-m-b-30">

                                                <a data-modal="modal" data-modal-id="#dash-newsletter">{% translate 'Subscribe Newsletter' %}</a></div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="dash-edit-p" method='POST'>
                                                        {% csrf_token %}
                                                       
                                                       
                                                   <div class="gl-inline">
                                                    <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="reg-fname">{% translate 'FIRST NAME' %} *</label>

                                                                <input class="input-text input-text--primary-style" name="first_name" type="text" id="reg-fname" placeholder="{{profile.user.first_name|title}}" required></div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="reg-lname">{% translate 'LAST NAME' %} *</label>

                                                                <input class="input-text input-text--primary-style" name="last_name" type="text" id="reg-lname" placeholder="{{profile.user.last_name|title}}" required></div>
                                                        </div>
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">


                                                                <span class="gl-label">{% translate 'BIRTHDAY' %}</span>
                                                                <div class="gl-dob">
                                                                    <select  name="birthday_month" class="select-box select-box--primary-style" required>
                                                                        <option selected>{% translate 'Month' %}</option>
                                                                        <option value="01">{% translate 'January' %}</option>
                                                                        <option value="02">{% translate 'February' %}</option>
                                                                        <option value="03">{% translate 'March' %}</option>
                                                                        <option value="04">{% translate 'April' %}</option>
                                                                        <option value="05">{% translate 'May' %}</option>
                                                                        <option value="06">{% translate 'June' %}</option>
                                                                        <option value="07">{% translate 'July' %}</option>
                                                                        <option value="08">{% translate 'August' %}</option>
                                                                        <option value="09">{% translate 'September' %}</option>
                                                                        <option value="10">{% translate 'October' %}</option>
                                                                        <option value="11">{% translate 'November' %}</option>
                                                                        <option value="12">{% translate 'December' %}</option>
                                                                    </select>
                                                                    
                                                                   <select  name="birthday_day" class="select-box select-box--primary-style" required>
                                                                        <option selected>{% translate 'Day' %}</option>
                                                                        {% with ''|center:31 as range %}
                                                                       {% for _ in range %}
                                                                    <option value="{{forloop.counter}}" >{{forloop.counter}}</option>
                                                                    {% endfor %}
                                                                      {%endwith%} 
                                                                                 
                                                                    </select><select  name="birthday_year" class="select-box select-box--primary-style" required>
                                                                        <option selected>{% translate 'Year' %}</option>
                                                                        {% with ''|center:10 as range %}
                                                                        {% for _ in range %}
                                                                        {% if forloop.counter0 < 10 %}
                                                                         <option value="199{{forloop.counter0}}" >199{{forloop.counter0}}</option>
                                                                       {% endif %}
                                                                       {% endfor %}
                                                                       {%endwith%} 
 
                                                                       {% with ''|center:31 as range %}
                                                                       {% for _ in range %}
                                                                       {% if forloop.counter0 >= 10 %}
                                                                        <option value="20{{forloop.counter0}}" >20{{forloop.counter0}}</option>
                                                                      {% else %}
                                                                      <option value="200{{forloop.counter0}}" >200{{forloop.counter0}}</option>
 
                                                                        {% endif %}
 
                                                                      {% endfor %}
                                                                      {%endwith%} 

                                                                    </select></div>
                                                            </div>
                                                            <div class="u-s-m-b-30">

                                                                <label class="gl-label" for="gender">{% translate 'GENDER' %}</label>
                                                                <select name="gender" class="select-box select-box--primary-style u-w-100" id="gender" required>
                                                                    <option selected>{% translate 'Select' %}</option>
                                                                    <option value="Male">{% translate 'Male' %}</option>
                                                                    <option value="Female">{% translate 'Female' %}</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="gl-inline">
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">{% translate 'E-mail' %}</h2>

                                                                <span class="dash__text">{{profile.user.email}}</span>
                                                                <!-- <div class="dash__link dash__link--secondary">

                                                                    <a href="#">Change</a></div> -->
                                                            </div>
                                                            <div class="u-s-m-b-30">
                                                                <h2 class="dash__h2 u-s-m-b-8">{% translate 'Phone' %}</h2>

                                                                <span class="dash__text">{% translate 'Please enter your mobile' %}</span>
                                                                <div class="dash__link dash__link--secondary">

                                                                    <input name="phone" class="input-text input-text--primary-style" type="text" id="reg-lname" placeholder="{{profile.phone}}" required>
                                                                </div>
                                                            </div>
                                                        </div> 

                                                        <button class="btn btn--e-brand-b-2" type="submit">{% translate 'SAVE' %}</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
{% endblock %}