{% extends 'base.html' %}
{% load i18n %}
{% block content %}
        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="{% url 'home:home' %}">{% translate 'Home' %}</a></li>
                                    <li class="is-marked">

                                        <a href="{% url 'home:profile_account' slug=profile.user %}">{% translate 'My Profile' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">{% translate 'Hello' %}, {{request.user.first_name|title}} {{request.user.last_name|title}}</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" href="{% url 'home:profile' slug=profile.user %}">{% translate 'Manage My Account' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:profile_account' slug=profile.user %}">{% translate 'My Profile' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:address' slug=profile.user %}">{% translate 'Address Book' %}</a></li>
                                                <li>

                                                    <a href="{% url 'home:order_track' slug=profile.user %}">{% translate 'Track Order' %}</a></li>
                                                <!-- <li>

                                                    <a href="{%url 'home:order_track' slug=profile.user %}">My Orders</a></li> -->
                                                 <!-- <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li> -->
                                                <li> 

                                                    <a href="{% url 'home:canceled_order' slug=profile.user %}">{% translate 'My Returns & Cancellations' %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">{{order}}</span>

                                                        <span class="dash__w-name">{% translate 'Orders Placed' %}</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">{{canceled}}</span>

                                                        <span class="dash__w-name">{% translate 'Cancel Orders' %}</span></div>
                                                </li>
                                                <!-- <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14">{% translate 'My Profile' %}</h1>

                                            <span class="dash__text u-s-m-b-30">{% translate 'Look all your info, you could customize your profile' %}.</span>
                                            <div class="row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">{% translate 'Full Name' %}</h2>

                                                    <span class="dash__text">{{request.user.first_name|title}} {{request.user.last_name|title}}</span>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">{% translate 'E-mail' %}</h2>

                                                    <span class="dash__text">{{request.user.email}}</span>
                                                    <div class="dash__link dash__link--secondary">

                                                       </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">{% translate 'Phone' %}</h2>
                                                        {% if profile.phone %}
                                                    <span class="dash__text">{{profile.phone}}</span>
                                                    {%else%}
                                                    <span class="dash__text">{% translate 'Please enter your mobile' %}</span>

                                                    {% endif %}
                                                    <!-- <div class="dash__link dash__link--secondary">

                                                        <a href="#">Add</a></div> -->
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">{% translate 'Birthday' %}</h2>

                                                    <span class="dash__text">{{profile.birthday|date:"M d , Y"}}</span>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">{% translate 'Gender' %}</h2>

                                                    <span class="dash__text">{{profile.gender}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="dash__link dash__link--secondary u-s-m-b-30">

                                                        <a data-modal="modal" data-modal-id="#dash-newsletter">{% translate 'Subscribe Newsletter' %}</a></div>
                                                    <div class="u-s-m-b-16">

                                                        <a class="dash__custom-link btn--e-transparent-brand-b-2" href="{% url 'home:profile_edit' slug=request.user %}">{% translate 'Edit Profile' %}</a></div>
                                                    <div>

                                                        <a class="dash__custom-link btn--e-brand-b-2" href="{% url 'account_change_password' %}">{% translate 'Change Password' %}</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->

{% endblock %}