{% extends "dashboard/base.html" %}

     

{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
    
        
                        <div class="card mb-4">
                          <a class="btn btn-primary pt-2 pb-2" href="{% url 'home:branch_add' %}"><h2>
                           add Branch
                          </h2></a>
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Deals
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Branch</th>
                                          <th scope="col">Category </th>

                                        <th scope="col">Action</th>
                                    

                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in branch %}
                                      <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{i.child}}</td>
                                        <td>{{i.name}}</td>

                                          <td>
                                            <a class="btn btn-danger" href='{% url "home:branch_delete" id=i.id %}'>DELETE</a>

                                          </td>

                                      </tr>
                                  {% endfor %}
                                    </tbody>
                                  </table>
                                  
                         
                            </div>
                        </div>
                    </div>
                </main>
          
            </div>
    {% endblock %}
     
 